doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Submit Your Article
    body
    input(type='hidden' name='_csrf' value=token)
      h3= article.title
            div
                p= article.body
            div
            button(type='submit' value='submit') Submit