extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="hero")
    if session.auth
      h2 Welcome #{session.auth.userName}
    if !session.auth
      h1 Where good ideas find you
      p Read and share new perspectives on just about any topic. Everyone’s welcome.
      a(href='/users/new' class="heroButton") Get Started
