extends layout
block content 
 
  div(id="myModal" class="modal")
  
      div(class="modal-content")
        p
          a(href="/" class="modalClose") X 
        p(class="modalTitle") Welcome back. 
        if errors
          ul
            for error in errors
              li(class='error')=error
        form(method="post" action="/users/login")
          input(type="hidden" name="_csrf" value=csrfToken)
          //- label(for="userName") Enter A Username
          div(class="modalInputFields")
            input(class="modalInput" type="text" name="userName" id="userName" placeholder="Enter your username" value=userName)
            br
            //- label(for="password") Password
            input(class="modalInput" type="password" name="password" placeholder="Enter Password" id="password")
            br
            button(class="modalSubmit" type="submit" value='Submit') Submit
        form(method="post" action="/users/login")
          input(type="hidden" name="_csrf" value=csrfToken)
          //- label(for="userName") Enter A Username
          div(class="modalInputFields")
            input(type='hidden' name='userName' value='Demo_User')
            input(type='hidden' name='password' value="password")
            button(class="modalSubmit" type="submit" value='Submit') Demo User
           
  script(src="/javascripts/modal.js")            
            

