extends layout.pug
block content

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title User Profile
        link(rel="stylesheet", href="/stylesheets/user-page.css")
        link(rel="stylesheet", href="/stylesheets/navbar.css")
    body
        div(class="header")
            h1(class="user-name") #{user.firstName} #{user.lastName}
            div(class="follow-info")
                h4(class="user-follows") 9 Followers
                button(class="user-follow-button") Follow
        div(class="articles")
            each article in articles
                h1=article.title
                p=article.body
