.new-article-title,
.new-article-body {
  line-height: 1.25;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: serif;
}
.article-title-single{
    font-size: 2.6rem;
    font-weight: bolder;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.article-title-multi {
  font-size: 2rem;
    font-weight: bold;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.user-name {
  font-size: 2.3rem;
  font-weight: bolder;
}

.user-follows {
  margin-left: 10px;
  font-style: italic;
  color: rgb(106, 106, 106);
}

.user-follow-button {
  color:  rgb(39, 134, 37);
  background-color: transparent;
  padding: 10px;
  /* font-size: 1.1rem; */
  width: 100px;
  /* font-size: 1.1rem; */
  /* border: none; */
  cursor: pointer;
  /* border: 0; */
  background: none;
  box-shadow: none;
}

.flex-base {
  display: flex;
  align-items: baseline;
}
.user-unfollow-button {
 
    background-color:  rgb(39, 134, 37);
    color: white;
    padding: 10px;
    /* font-size: 1.1rem; */
    width: 100px;
    /* font-size: 1.1rem; */
    /* border: none; */
    cursor: pointer;
    /* border: 0; */
 
    box-shadow: none;
  
}

.mb-40 {
  margin-bottom: 30px;
}
.header {
  display: flex;
  margin-top: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  justify-content: space-between;
  border-bottom: 1px solid  rgb(106, 106, 106);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* height: 50px; */
  margin-bottom: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;
}


.article-body-single {
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
  white-space: pre-line;
}

.edit-article-button {
  margin-bottom: 20px;
  height: 30px;
}

.read-more {
  margin-bottom: 20px;
  border:thin solid rgb(39, 134, 37);;
  padding: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(39, 134, 37);
}

.read-more:hover {
  background-color: rgb(39, 134, 37);
  color: white;
}



.edit-article-title,
.edit-article-body {
  line-height: 1;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: serif;
}

.edit-article-body {
  height: 300px;
}

.new-article-body {
  height: 300px;
}

.singleArticle {
  width: 80%;
  margin: auto;
  color: #292929;
}

.articles > .article {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid  rgb(106, 106, 106);
  margin-bottom: 20px;
}

.new-article-title:focus,
.new-article-body:focus {
  outline: none;
}

.new-articles-container {
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.black-outline {
  color: black;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 105px;
  text-align: center;
  margin: auto;
}

.editArticle {
  margin-left: 0px;
  margin-top: 20px;
}

.article-title {
    text-align: center;
    font-size: 2.4rem;
}



.newcomment {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  /* width: 350px; */
  justify-content: space-evenly;
  margin-bottom: 20px;
}


.like-comment {
  display: flex;
}

.comment-button {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 30px;
  position: relative;
  top: -20px;
}

.like {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  top: -20px;
}

.unlike {
  /* visibility: hidden; */
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  top: -20px;
}

#like-count {
  margin-left: 5px;
}

#comment-count {
  margin-left: 5px;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

.commentsdiv {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: serif;
  font-size: 1.2rem;
  border: solid 1px hsl(0deg 0% 90%);
  box-shadow: 2px 2px hsl(0deg 0% 90%);

}

.commentauthor {
  font-style: italic;
  font-size: 0.95rem;
}

.commentdate {
  font-size: 0.95rem;
}
.new-comment-box {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 10px;
  border: solid 1px hsl(0deg 0% 90%);
  box-shadow: 2px 2px hsl(0deg 0% 90%);
  width: 100%;
}

.new-comment-box:focus {
  outline: none;
}

.submitComment {
  width: 200px;
  font-size: 1.2rem;
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

.article-author-single {
  color: rgb(39, 134, 37);
  text-decoration: none;
}

.article-author-single-date {
  color: rgb(106, 106, 106);
  margin-left: 20px;
  font-size: 0.9rem;
  font-style: italic;
}

.align-left {
  text-align: left;
}
