.navbar,
.navlinks,
.navlinks > ul {
    display: flex;
    /* justify-content: space-between; */
    font-family: sans-serif;
}

.navbar {
    background-color: hsl(44deg 100% 55%);
    justify-content: space-between;
    height: 75px;
    align-items: center;
    border-bottom: solid black thin;
    padding-top: 5px;
}

.yellow {
    background-color: #ffc017;
}
.navlinks > ul {
    list-style: none;
    justify-content: space-evenly;
    width: 350px;
    margin-top: 5px;
}

.navlinks > ul > li,
div {
    font-size: 0.9rem;
}

#getStarted {
    margin-right: 75px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: -5px;
    width: 105px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
}

#login {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.logo {
    font-size: 2rem;
    margin-left: 40px;
    font-weight: bold;
    margin-top: -5px;
    cursor: pointer;
    text-decoration: none;
}

.modal {
    position: absolute;
    top: 0px;
    z-index: 1; /* Sit on top */
  
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    top:calc(50% - 200px);
}

.modalTitle {
    font-size: 1.4rem;
    text-align: center;
}
.modalInputFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalInput,
.modalTextArea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black 1px solid;
}

.modalTextArea {
    height: 200px;
    border-bottom: none;
}

.modalSubmit {
    /* margin-right: 75px; */
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 105px;
    text-align: center;
}

.error {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: red;
}

.modalClose {
    text-decoration: none;
}

.hero {
    background-color: #ffc017;
    height: 350px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.hero > h1 {
    color: black;
    font-size: 4.5rem;
    width: 450px;
    margin-left: 45px;
    padding-top: 30px;
    line-height: 70px;
    font-weight: 500;
}
.hero > p {
    margin-left: 45px;
    margin-top: 60px;
    font-size: 1.3rem;
    width: 650px;
}

.heroButton {
    margin-left: 45px;
    text-decoration: none;
    border: 1px solid black;
    font-size: 1.2rem;
    padding: 10px 20px;
    position: relative;
    top: 10px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
}

.greeting {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    top:3px;
}

.user-icon {
    font-size: 1.5rem;

    /* position: relative;
      left: 100px; */
    /* top: 30px */
}

.user-menu {
    margin-left: 250px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    left: -100px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown:hover .dropdown-content > a {
    margin-top: 10px;
    text-decoration: none;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
   

}

.footer > div> a {
    font-size: 1.2rem;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer > div > a:hover {
   color: #ffc017;
   position: relative;
   top:-2px;
    
}

.flex-footer {
    display: flex;
    justify-content: space-evenly;
    width: 32%;
}
@media (max-width: 770px) {
    .lg-only {
        display: none;
    }
    .logo {
        margin-left: 40px;
       
    }
    .navlinks > ul {
        width: 100px;
    }
    .navLinks > ul > div > li  {
        font-size: .1rem;
    }
    .hero {
        height: 300px
    }
    .hero > p {
        word-wrap: break-word;
        width: 90%;
    }
    .hero > h1 {
        font-size: 3rem;
        line-height: 45px;
        width: 350px;
    }

    .container {
        padding: 5px;
    }
    /* .dropdown-content {
        left: -100px;
    } */
    .user-icon {
        margin-left: 0;
    }

    .user-menu {
        margin-left: 0px;
    }

    @media (max-width: 523px) {
        
        .logo {
            
            font-size: 1.4rem;
            position: relative;
            top:3px; 
        }
        

    }

}

.nav_user {
    text-decoration: none;
}