.logo {
    color: white;
    margin-left: 50px;
}

.navbar {
    background-color: black;
}

.greeting {
    color: white;
}

.user-icon {
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 50px;
}

.user-name {
    margin: 25px;
}

.user-follows {
    margin: 25px;
}

.user-follow-button {
    width: 60px;
    height: 20px;
}

.user-about {
    margin: 25px;
}

.articles {
    margin: 50px;
}
