.header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

/* .user-follow-button {
    width: 60px;
    height: 20px;
    border: 0;
    background: none;
    box-shadow: none;
} */

.articles {
    margin: 50px;
}
